*{
    margin: 0;
    padding: 0;
    
}

body{
    background: #fcfaf2;
}

h1{
    
    padding: 200px;
}
div{
    text-align: center;
}
.top{
    
    width: 1440px;
    height: 870px;
    
    background-image: url(image/caroline-hernandez-219485.jpg);
    background-position: center center;
    background-size: cover;
    color: #ffffff;
    font-family: monospace ;
    
}

nav{
    overflow: hidden;
    background-color: #0f2540;
    margin-bottom: 30px;
    text-align: center;
    
}

nav li{
    display: block;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

nav a:hover{
    background: #ffffff;
    color: #0f2540;
}

.Photo{
    color: #0f2540;
    width: 50%;
    height: 50%;
    overflow: hidden;
    float: left;

}

.Photo_{
    text-align: center;
}